$IMCCONFIG

# IMC2 Freedom CL-2.2 SWR 2.0 config file.
# This file can now support the use of tildes in your strings.
# This information can be edited online using the 'imcconfig' command.
LocalName      PlanetsRTP
Autoconnect    0
MinPlayerLevel 0
MinImmLevel    200
AdminLevel     200
Implevel       200
InfoName       Planets: Rise to Power
InfoHost       frostmud.com
InfoPort       8504
InfoEmail      colormeblind22@gmail.com
InfoWWW        planetsrisetopower.freeforums.org
InfoBase       SWR 2.0
InfoDetails    Planetary domination

# Your server connection information goes here.
# This information should be available from the network you plan to join.
ServerAddr     server01.intermud.us
ServerPort     9000
ClientPwd      BFwR22
ServerPwd      BFwR22
#SHA256 auth: 0 = disabled, 1 = enabled
SHA256         1
End

$END
